body{
    margin: 0;
    padding: 0;
    background: url(../multimedia/fondo1.jpg);
    background-size: cover;
    height: auto;
}
@font-face{
    font-family: holyfat;
    src: url(../multimedia/Holyfat.ttf);
}
.text-holyfat{
    font-family: holyfat;
    font-size: 40px;
}
.nav-link{
    color: #7dfa00;
    
}
.nav-link:hover{
    color: #fff;
    background-color:#7dfa00 ;
}
.barra-menu{
    background: #fff;
    border-radius: 20px;
    width: 500px;
    height: 75px;
}
.strong{
    font-weight: 900;
    font-size: 50px;
    color: #7dfa00;
}